<div class="Annonce">
 <div class="Annonce_header">
  <div class="wrapper">
   <div class="Annonce_headercontent">
    <div class="Annonce_header_left">
     <div class="Annonce_header_leftcontent">
      <div class="Annonce_headerLocalisation-mobile mobile-only">
        <strong>Lisboa</strong><span>&nbsp;</span></div>
        <div class="Annonce_header_img">
         <img
         class="photo" src="http://via.placeholder.com/250x250" />
         <div class="AnnonceProf_price mobile-only">
           <div>25€</div>
         </div>
       </div>
       <div class="Annonce_header_info">
         <div class="Annonce_headerLocalisation desktop-only">
           <strong>Lisboa</strong><span>&nbsp;</span></div>
           <div class="Annonce_headerName">
            <div class="prenom">Sinead</div>
          </div>
          <ul class="ratingV2">
            <li class="starV2 star-fullV2"></li>
            <li class="starV2 star-fullV2"></li>
            <li class="starV2 star-fullV2"></li>
            <li class="starV2 star-fullV2"></li>
            <li class="starV2 star-fullV2"></li>
            <li class="Annonce_headerAvis">(2 avaliações)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Annonce_header_right desktop-only">
     <div class="Annonce_headerRcontent">
      <div class="Annonce_headerPrice">
       25€ <sup>/h</sup>
       <sup>
        <div class="Annonce_headerPrice-modal"></div>
      </sup>
    </div>
    <button class="btn btn-watermelon btn-lg">Book cleaning</button>
  </div>
</div>
</div>
</div>
</div>
</div>

<!-- -->

<!-- Map -->
<div class="Annonce">
  <div class="Annonce_content">
    <div class="Annonce_wrapper wrapper">
      <h2>Services</h2>



    </div>
  </div>
</div>


<!-- Testimonial -->
<div class="Annonce">
  <div class="Annonce_content">
    <div class="Annonce_wrapper wrapper">
     <div class="avis_recos">
      <div class="Annonce_full Annonce_avis" id="_avaliacao">
       <h3 class="AnnonceContent_subTitle">
        2 avaliações sobre Sinead
        <ul class="ratingV2">
         <li class="starV2 star-fullV2"></li>
         <li class="starV2 star-fullV2"></li>
         <li class="starV2 star-fullV2"></li>
         <li class="starV2 star-fullV2"></li>
         <li class="starV2 star-fullV2"></li>
         <li class="Annonce_ratingword">5/5</li>
       </ul>
     </h3>
     <div class="AnnonceContent_subTitle_text">
     Todas as avaliações são coletadas pelo nosso serviço e são fiáveis. Elas correspondem a verdadeiras experiências dos membros do Superprof.</div>
   </div>
   <div class="Annonce_full Annonce_full-marginSmall">
     <h3 class="AnnonceContent_subTitle2"> 2 avaliações </h3>
     <div class="Annonce_evaluation">
      <div class="avis ">
       <div class="Annonce_evalComment">
        <div class="Annonce_evalImg"><img src="imagens/membros/professor-particular-1364113.jpg" title="Mayumi" /></div>
        <div class="Annonce_evalTxt">
          <div class="Annonce_evalName">Mayumi <span>b2</span></div>
          <p class="AnnonceContent_text">
            <b>Perfeito!</b> I'm enjoying having lessons with Sinead! Now the classes are with my cousin and me and it has been really helpful. I highly recommend lessons with Sinead!
          </p>
        </div>
      </div>
    </div>
    <div class="avis ">
     <div class="sep"></div>
     <div class="Annonce_evalComment">
      <div class="Annonce_evalImg">
       <div class="user-no-picture">A</div>
     </div>
     <div class="Annonce_evalTxt">
       <div class="Annonce_evalName">Andreia </div>
       <p class="AnnonceContent_text">
        <b>Perfeito!</b> I had private lessons with Sinead and I hardly recommend you to try! She is an amazing person and teacher, very enthusiastic and adaptable to your needs. I worked with her some vocabulary  (legal English) and fluency and i'm truly more confident. She was very helpful even when we were distant and couldn't meet.<br />
        Thank you again Sinead !!
      </p>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- MAP Javascript -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZIpthMHHSftRPk2LYDXzmTU7mrptvW10"
async defer></script>
