
<div class="banner">
  <div class="banner-content">
    <h1>Find cleaning professionals</h1>
    <h2>in your area</h2>
    <form class="form-inline">
      <select class="form-control form-control-lg">
        <option>General cleaning</option>
        <option>Ironing</option>
        <option>House sitting</option>
        <option>Pet cleanup</option>
      </select>
      <input type="text" name="location" class="form-control form-control-lg">
      <button class="btn btn-primary btn-md">Search</button>
    </form>
    <div class="avg-rate">
      <h4> Average hourly rate: 12€</h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="card-container">
    <h3>Local Service Providers</h3>
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <img src="http://via.placeholder.com/350x150">
        <div class="card-data"></div>
        <h3>Rebecca</h3>
        <div class="rating">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
        </div>
        <h4>26 reviews</h4>
      </div>
      <!-- end card-->
      <div class="col-xs-12 col-md-4">
        <img src="http://via.placeholder.com/350x150">
        <div class="card-data"></div>
        <h3>Antonio</h3>
        <div class="rating">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
        </div>
        <h4>12 reviews</h4>
      </div>
      <!-- end card-->
      <div class="col-xs-12 col-md-4">
        <img src="http://via.placeholder.com/350x150">
        <div class="card-data"></div>
        <h3>Maria</h3>
        <div class="rating">
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
          <i class="glyphicon glyphicon-star"></i>
        </div>
        <h4>7 reviews</h4>
      </div>
    </div>
  </div>
  <!-- end card-->
  <!-- end rrow-->



  <h2>Testimonials</h2>
  <div class="testimonials-container">
   <img class="avatar avatar-medium" src="http://i.pravatar.cc/150"></img>
   <div class="testimonials-info">
    <h3>Amanda</h3>
    <p>"The way Amanda cleaned my house reminded me of my mother- everything was spotless when I arrived home!"- Joy from Manhattan</p>
    <div class="rating">
      <i class="glyphicon glyphicon-star"></i>
      <i class="glyphicon glyphicon-star"></i>
      <i class="glyphicon glyphicon-star"></i>
      <i class="glyphicon glyphicon-star"></i>
      <i class="glyphicon glyphicon-star"></i>
    </div>
    <h4>21 reviews</h4>
  </div>
</div>



<h1>How does it work?</h1>
<div class="how-it-works">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <img src="http://via.placeholder.com/350x150">
      <p style="color: #EA4389";>Step 1:</p>
      <p>Locate a provider using our search</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="http://via.placeholder.com/350x150">
      <p style="color: #EA4389";>Step 2:</p>
      <p>Connect with your matches</p>
    </div>
    <div class="col-xs-12 col-md-4">
      <img src="http://via.placeholder.com/350x150">
      <p style="color: #EA4389";>Step 3:</p>
      <p>Book a cleaning visit</p>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "cleaners.jpeg" %>);">
  <div class="banner-content">
    <h1>Come work with us and become a certified service provider</h1>
    <a class="btn btn-primary btn-lg">Register Now</a>
  </div>
</div>

</div>
