<div class="rating"> 
    <%= ☆ * 3 %>
</div>

  <div class="card-container">
  <h3>Local Service Providers</h3>
  <div class="row">
    
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <img src="http://via.placeholder.com/350x150">
        <div class="card-data"></div>
        <h3>Name</h3>
      </div>
    </div>
    <!-- end card-->
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <img src="http://via.placeholder.com/350x150">
        <div class="card-data"></div>
        <h3>Name</h3>
      </div>
    </div>
    <!-- end card-->
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <img src="http://via.placeholder.com/350x150">
        <div class="card-data"></div>
        <h3>Name</h3>
        
      </div>
    </div>
    <!-- end card-->
   </div>
   <!-- end rrow-->
 </div>

 
    <h2>Testimonials</h2>
 <div class="testimonials-container">
     <img class="avatar avatar-xl" src="http://i.pravatar.cc/100"></img>
      <div class="testimonials-info">
        <h3>Amanda</h3>
        <p>"The way Amanda cleaned my house reminded me of my mother- everything was spotless when I arrived home!"- Joy from Manhattan</p>
        <%= @rating %>
      </div>
   </div>



<div class="banner">
  <div class="banner-content">
    <h1>Find cleaning professionals</h1>
    <h2>in your area</h2>
    <form class="form-inline">
      <select class="form-control form-control-lg">
        <option>General Cleaning</option>
        <option>Ironing</option>
        <option>House sitting</option>
        <option>Pet Cleanup</option>
      </select>
      <input type="text" name="location" class="form-control form-control-lg">
      <button class="btn btn-primary btn-lg">Search</button>
    </form>
    <div class="avg-rate">
      <h4> Average hourly rate: 12€</h4>
    </div>

  </div>
</div>

