<div class="banner">
  <div class="banner-content">
    <h1>Find cleaning professionals</h1>
    <h2>in your area</h2>
    <form class="form-inline">
      <select class="form-control form-control-lg">
        <option>General Cleaning</option>
        <option>Ironing</option>
        <option>House sitting</option>
        <option>Pet Cleanup</option>
      </select>
      <input type="text" name="location" class="form-control form-control-lg">
      <button class="btn btn-primary btn-lg">Search</button>
    </form>
    <div class="avg-rate">
      <h4> Average hourly rate: 12€</h4>
    </div>
  </div>
</div>
