.register-to-clean {
  background-image: url('http://i.ndtvimg.com/i/2016-01/cleaning-kitchen-625_625x350_61454157830.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}