.review {
  border: 1px solid #ef5285;
  height: 100px;
  width: 1000px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 3px gray;

}

.input {
  margin-top: 10px;
  margin-left: 20px;
}

.testimonial {
  margin-top: 10px;
}

.row {
display: flex;
justify-items: space-around;
}

.pe-7s-star {
  color: #ef5285;
}
