.cleaners-review-container {

  .cleaners-review {
    min-height: 100px;
    border: 1px solid #ef5285;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px gray;
  }

  .input {
    margin-top: 10px;
    margin-left: 20px;
  }

  .testimonial {
    margin-top: 10px;
  }

  .row-review {
  display: flex;
  justify-items: space-around;
  }



  .header-review {
    margin-bottom: 40px;
  }
}

 .pe-7s-star {
    color: #ef5285;
  }
